@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

/* /** 布局CSS * / */
.fontSize32{
  font-size: 32px;
}
.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
.logo {
  height: 32px;
  background: rgba(208, 204, 204, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}
  [data-theme="dark"] .site-layout-sub-header-background {
    background: #141414;
  }


  /* Vedio Control CSS */
  .backgroudGrey{
    background: #f0f2f5;
  }
 .vedio {
  background: #f0f2f5;
  height: 600px;
 
}
.vedio_container {
  width: 100%;
}


.progress {
  margin: auto;
width:600px;
height:16px;
margin-bottom: 5px;
background-color: white;
}
progress::-moz-progress-bar { background:#2e52a4; }


.vedio_size{
   width: 100%;
   height: 500px;
   object-fit: fill;
}

.durationbar {
   width: 100%;
   height: 10px;
   margin-top: 10px;
   background: rgba(65, 62, 62, 1);
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
   border-radius: 50px;
   position: relative;
}


.drawbar {
   position: absolute;
   background: #fff;
   width: 20px;
   height: 20px;
   left: 0;
   top: -5px;
   z-index: 10;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
   border-radius: 50px;
   cursor: pointer;
}
.bufferbar, .currentbar {
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 0;
   background: rgba(117, 114, 114, 1);
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
   border-radius: 50px;
   z-index: 5;
   cursor: pointer;
}
.currentbar {
   background: #fff;
   z-index: 10;
}
.control-btn {
   margin-right: 10px;
}
.marginLeft10{
   margin-left: 10px;
}
.marginTop10{
  margin-top: 10px;
}
.marginTop7{
  margin-top: 7px;
}
.fontSize16{
  font-size: 16px;
}
.spanGreenColor{
   color: #28a745;
   cursor:pointer;
   font-size: 28px;
}
.spanRedColor{
   color: red;
   cursor: pointer;
   font-size: 28px;
}
.spanGreyColor{
   color: grey;
   cursor: pointer;
   font-size: 28px;
}
.spanBlackColor{
   color: #2b333f;
   cursor:pointer;
   font-size: 20px;
}
.spanYellowColor{
   color: #ffbe07;
   cursor:pointer;
   font-size: 28px;
}
.cursor{
   cursor:pointer;
}
